<% if user_signed_in? %>
	<h1>You're Logged In!!!</h1>
<% else %>



	<div class= 'jumbotron'>
		<h1><center>Quest Henkart's First App</center></h1>
		<p>This is my first app so don't judge</p>
		<p> this is all a test, only a test and nothing but test, so help me Rails </p>
		<p>This app has been brought to you by <%= link_to "Constant Google Searches", "http://www.google.com"%></p> 
		<p> <%= link_to "Sign Up Now!",new_user_registration_path, class: 'btn btn-primary btn-lg' %> </p>
	</div>
<% end %>